body{
}

form{
	background:gray;
	text:bold;
	border:black;
	float:left;
	width:80%;
	margin-left: 0px auto;

}

div{
	background:white;
	height:300px;
}
p{
	position:relative;
}

input{

}

img{
	display:block;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	
}

#food{
	position:relative;
	top:50px;
}
